#!/bin/bash

{# File heading #}
{%+ include 'file_heading.sh.template' +%}

{# App config #}
{%+ include 'app_config.sh.template' +%}

{# Utilities #}
{%+ include 'utilities.sh.template' +%}

{# Screen-building utilities #}
{%+ include 'screen_building_utilities.sh.template' +%}

{# Screen flow code #}
{%+ include 'screen_flow.sh.template' +%}
